{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            Wave
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">

    {% block inline_css %} {% endblock inline_css %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/remixicon/remixicon.css' %}">

    {% block external_css %} {% endblock external_css %}
        
    {% block top_js %}
        <script src="{% static 'js/utils.js' %}"></script>
    {% endblock top_js %}
    <style>* {line-height: normal !important;}</style>
</head>

<body>
    {% block content %} {% endblock content %}

    {% block bottom_js %} {% endblock bottom_js %}
</body>
</html>