{% extends 'base.html' %}
{% load static %}

{% block inline_css %}
    <style >
        .aplayer .aplayer-list ol li.aplayer-list-light, .aplayer .aplayer-list ol li:hover {
            background-color: black !important;
        }
        .btn {
            cursor: pointer;
        }
    </style>
{% endblock inline_css %}


{% block content %}

    <div class="main">
        <div class="iframe-browse">
            {% block iframe %} {% endblock iframe %}
        </div>
        
        <div class="music-controller">
            <div id="3rd-p-player"></div>
        </div>

    </div>

{% endblock content %}

