{% extends 'user/base.html' %}
{% load static %}

{% block title %}
    Browse - Wave
{% endblock title %}

{% block external_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
{% endblock external_css %}

{% block content %}
    
    <div class="main-grid">
        <aside class="">
            <div class="logo">
                <img src="{% static 'user/imgs/logo.svg' %}">
                <span>Wave</span>
            </div>
            <div class="sidebar-links">
                <div>
                    <a href="">
                        <i class="ri-home-6-fill"></i>
                        <span>Home</span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="ri-search-2-line"></i>
                        <span>Search</span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="ri-folder-music-line"></i>
                        <span>Your library</span>
                    </a>
                </div>
                <section class="playlists">
                    <br>
                    <h3>PLAYLISTS</h3>

                    <div>
                        <a href="">
                            <i class="ri-add-box-line"></i>
                            <span>Create playlist</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="ri-heart-2-fill"></i>
                            <span>Fav songs</span>
                        </a>
                    </div>
                </section>
            </div>
        </aside>

        <div class="content">
            <header class="sticky-nav">
                <div class="tabs">
                    <a href="#">Playlists</a>
                    <a href="#">Artists</a>
                    <a href="#">Albums</a>
                </div>
                
                <div class="btn account-dropdown">
                    <img class="user-profile-pic" src="{% static 'user/imgs/logo.svg' %}">
                    <small class="username">22ioagadggksdghsjkd</small>
                    <a href="#" class="more-account">
                        <i class="ri-arrow-down-s-fill"></i>
                        <div class="account">
                            <p>
                                <a href="#">Account</a>
                                <i class="ri-external-link-line"></i>
                            </p>
                            <p>
                                {% comment %}<a href="{% url 'account:logout' %}">Log out</a>{% endcomment %}
                                <span id="logout">Log out</span>
                            </p>
                        </div>
                    </a>
                    <span>
                    </span>
                </div>
            </header>

            <div class="browse">
                <div>
                    
                    {% for head, playlists in playlist_categories.items %}
                        <h3>{{ head }}</h3>
                        <div class="summary-cards">
                            {% for playlist in playlists %}
                                <div class="my-card">
                                    <a href= {% url 'playlist:index' playlist.id %}>
                                        <div class="cover cover-this" aria-label="playlist's cover image">
                                            <i data-playlist-id="{{ playlist.id }}" class="hover-play-card ri-play-mini-line"></i>
                                        </div>
                                        <div class="card-info">
                                            <h4 class="title">{{ playlist.name }}</h4>
                                            <div>{{ playlist.description }}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>

                <div>
                    
                    {% for head, albums in album_categories.items %}
                        <h3>{{ head }}</h3>
                        <div class="summary-cards">
                            {% for album in albums %}
                                <div class="my-card" data-album-id="{{ album.id }}">
                                    <a href= {% url 'album:index' album.id %}>
                                        <div class="cover" aria-label="Album's cover image">
                                            <img src="{{ album.cover_image.url }}">
                                        </div>
                                        <div class="card-info">
                                            <h4 class="title">{{ album.title }}</h4>
                                            <div>By {{ album.artist.all|join:" and " }}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div>

                    {% for head, artists in artist_categories.items %}
                        <h3>{{ head }}</h3>
                        <div class="summary-cards">
                            {% for artist in artists %}
                                <div class="my-card" data-artist-id="{{ artist.id }}">
                                    <a href= {% url 'artist:index' artist.id %}>
                                        <div class="cover">
                                            <img src="{{ artist.profile_pic.url }}">
                                        </div>
                                        <div class="card-info">
                                            <h4 class="title">{{ artist.get_full_name }}</h4>
                                            <div>{{ artist.description }}</div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>               
            
            </div>
        
        </div>
    </div>

{% endblock content %}

{% block bottom_js %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        // window.addEventListener('message', (event) => {
        //     if (event.origin !== 'http://127.0.0.1:8000') return
        //     console.log('data from parent window :', event.data)
        // })
        document.getElementById('logout').addEventListener('click', () => {
            parent.location.href = '/account/logout/'
        })
        
        const cards = document.querySelectorAll('.my-card .cover-this')
        for (let card of cards) {
            const img = new Image();
            img.src = `/static/user/imgs/${randomInt(1, 30)}.jfif`
            card.prepend(img)
        }

        // show/hide account and logout buttons
        const accLink = document.querySelector('.account-dropdown')
        const arrow = document.querySelector('.more-account')
        const accountDropdown = document.querySelector('.account')
        accLink.addEventListener('click', () => {
            const added = toggleClass(arrow, 'flip', 'unflip')
            if (added === 'flip') {
                accountDropdown.style.display = 'block'
            }
            else {
                accountDropdown.style.display = 'none'
            }
        })

        // queue the playlist
        const playPlaylistBtns = document.querySelectorAll('.hover-play-card')
        playPlaylistBtns.forEach((btn) => {
            btn.addEventListener('click', (event) => {
                event.preventDefault()
                const id = btn.dataset.playlistId
                fetch('/playlist/getTracks/' + id + '/', {
                    method: 'GET',
                }).then(resp => resp.json())
                    .then(trackIds => {
                        const tracks = []
                        trackIds.forEach((id) => {
                            tracks.push({'id': id})
                        })
                        window.parent.postMessage({
                            type: 'queueTracks',
                            tracks: tracks,
                            clearQueue: true,
                        }, 'http://127.0.0.1:8000')
                })
            }, false)
        })

    </script>
{% endblock bottom_js %}
