{% extends 'user/base.html' %}
{% load static %}

{% block title %}
    Browse - Wave
{% endblock title %}

{% block external_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/ronet-Regular.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'artist/css/artist.css' %}">
{% endblock external_css %}

{% block content %}
    
    <div class="main-grid">
        <aside class="">
            <a class="" href="{% url 'user:browse' %}">
                <div class="logo">
                    <img src="{% static 'user/imgs/logo.svg' %}">
                    <span id="app-name">Wave</span>
                </div>
            </a>
            <div class="sidebar-links" style="display: none">
                <div>
                    <a href="">
                        <i class="ri-home-6-fill"></i>
                        <span>Home</span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="ri-search-2-line"></i>
                        <span>Search</span>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="ri-folder-music-line"></i>
                        <span>Your library</span>
                    </a>
                </div>
                <section class="playlists">
                    <br>
                    <h3>PLAYLISTS</h3>

                    <div>
                        <a href="">
                            <i class="ri-add-box-line"></i>
                            <span>Create playlist</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="ri-heart-2-fill"></i>
                            <span>Fav songs</span>
                        </a>
                    </div>
                </section>
            </div>
        </aside>

        <div class="content">
            <header class="sticky-nav">
                <div class="tabs" style="visibility: hidden;">
                    <a href="#">Playlists</a>
                    <a href="#">Artists</a>
                    <a href="#">Albums</a>
                </div>
                
                <div class="btn account-dropdown">
                    <img class="user-profile-pic rounded-circle" src="{{ user_obj.profile_pic.url }}">
                    <small class="username">{{ user.username }}</small>
                    <a href="#" class="more-account">
                        <i class="ri-arrow-down-s-fill"></i>
                        <div class="account">
                            <p>
                                <a href="{% url 'account:update' user.id %}" target="_blank">Account</a>
                                <i class="ri-external-link-line"></i>
                            </p>
                            <p>
                                <span id="logout">Log out</span>
                            </p>
                        </div>
                    </a>
                    <span>
                    </span>
                </div>
            </header>

            <div class="browse">
                <div>
                    {% include 'playlist/playlist_cards.html' with playlist_categories=playlist_categories only %}
                </div>

                <div>
                    {% include 'album/album_cards.html' with album_categories=album_categories only %}
                </div>

                <div>
                    {% include 'artist/artist_cards.html' with artist_categories=artist_categories only %}
                </div>
            </div>        
        </div>
    </div>

{% endblock content %}

{% block bottom_js %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        // window.addEventListener('message', (event) => {
        //     if (event.origin !== 'http://127.0.0.1:8000') return
        //     console.log('data from parent window :', event.data)
        // })
        // const cards = document.querySelectorAll('.my-card .cover-this')
        // for (let card of cards) {
        //     const img = new Image();
        //     img.src = `/static/user/imgs/${randomInt(1, 30)}.jfif`
        //     card.prepend(img)
        // }
        
        // redirect the parent document to logout. else it will appear on iframe.
        document.getElementById('logout').addEventListener('click', () => {
            parent.location.href = '/account/logout/'
        })

        // show/hide account and logout buttons
        const accLink = document.querySelector('.account-dropdown')
        const arrow = document.querySelector('.more-account')
        const accountDropdown = document.querySelector('.account')
        accLink.addEventListener('click', () => {
            const added = toggleClass(arrow, 'flip', 'unflip') 
            if (added === 'flip') {
                accountDropdown.style.display = 'block'
            }
            else {
                accountDropdown.style.display = 'none'
            }
        })

        /*// given playlistid, artistid, albumid; fetch and queue the tracks
        function request(url, id) {            
            fetch(url + id + '/', {
                method: 'GET',
            }).then(resp => resp.json())
                .then(trackIds => {
                    const tracks = []
                    trackIds.forEach((id) => {
                        tracks.push({'id': id})
                    })
                    window.parent.postMessage({
                        type: 'queueTracks',
                        tracks: tracks,
                        clearQueue: true,
                    }, 'http://127.0.0.1:8000')
                })
            
        }

        // play the playlist, album or artists tracks
        const playPlaylistBtns = document.querySelectorAll('.hover-play-card')
        playPlaylistBtns.forEach((btn) => {
            btn.addEventListener('click', (event) => {
                event.preventDefault()
                const playlistId = btn.dataset.playlistId
                const artistId = btn.dataset.artistId
                const albumId = btn.dataset.albumId
                if (playlistId) {
                    request('/playlist/getTracks/', playlistId)
                }
                else if (artistId) {
                    request('/artist/getTracks/', artistId)
                }
                else if (albumId) {
                    request('/album/getTracks/', albumId)
                }
            })
        })*/

    </script>
{% endblock bottom_js %}
