{% extends 'user/base.html' %}
{% load static %}
{% load sec_to_hhmmss %}

{% block title %}
    Playlist - Wave
{% endblock title %}

{% block external_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/playlist.css' %}">
{% endblock external_css %}

{% block content %}
    <div class="playlist-grid">
        <header class="playlist-info">
            <img class="header-img" src="{% static 'user/imgs/3.jfif' %}">
            <div class="info">
                <p>PLAYLIST</p>
                <h1 id="playlist-name">{{ current_playlist.name }}</h1>
                <p>{{ current_playlist.description }}</p>
                <div>
                    <span>{{ current_playlist.owner.all|join:", " }}</span>
                    <ul>
                        <li>{{ current_playlist..userbase_set.all|length }} likes</li>
                        <li>Duration: {{ playlist_duration|sec_to_hhmmss }}</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="shortcuts">
            <span class="btn play-playlist ri-play-circle-fill"></span>
            <span class="btn heart-playlist ri-heart-line"></span>
            <span class="btn">...</span>
        </div>
        <div class="playlist-add display-none">
            <form action="" method="POST">
                <div class="add-to-playlist">
                    <i class="btn close-btn ri-close-line"></i>
                    {% csrf_token %}
                    {% for playlist in playlists %}
                        <p class="btn" data-playlist-id="{{ playlist.id }}">
                            {{ playlist.name }}
                        </p>
                    {% endfor %}
                    {% comment %}<input type="submit" name="Ok" hidden>{% endcomment %}
                </div>
            </form>
        </div>
        <div class="tracks-list">
            <ul class="tracks">
                <li class="header-row">
                    <span class="index" id="track-num">#</span>
                    <span>Title</span>
                    <span class="queue-this">&nbsp;</span>
                    <span class="playlist-this">&nbsp;</span>
                    <span class="album">Album</span>
                    <span class="date-added">Date Added</span>
                    <span class="heart">&nbsp;</span>
                    <span class="track-duration">Duration</span>
                </li>
                {% for track in current_playlist.tracks.all %}
                    <li class="" data-track-id="{{ track.id }}">
                        <div class="index">
                            <span>{{ forloop.counter }}</span>
                            <i class="hover btn play-this ri-play-circle-fill"></i>
                        </div>
                        <div class="track-artist">
                            
                            {% with main_artist=track.artist.all|first %}
                                <img src="{{ main_artist.profile_pic.url }}">
                                <div class="">
                                    <span>{{ track.title }}</span>
                                    <span><a href="#">{{ main_artist.get_full_name }}</a></span>
                                </div>
                            {% endwith %}
                        </div>
                        <span class="hidden btn ri-add-line queue-this" title="Add to Queue"></span>
                        <span class="hidden btn ri-play-list-add-line playlist-this" title="Add to Playlist"></span>
                        <span class="album" aria-label="album"><a href="#">{{ track.album.title }}</a></span>
                        <span class="date-added" aria-label="date-added">{{ track.created_at|date:"M d, Y" }}</span>
                        {% if track in curr_user.favourites.all %}
                            <span class="btn heart ri-heart-3-fill"></span>
                        {% else %}
                            <span class="btn heart ri-heart-3-line"></span>
                        {% endif %}
                        <span class="track-duration" aria-label="track-duration">{{ track.duration|sec_to_hhmmss }}</span>
                    </li>
                
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block bottom_js %}
    <script type="text/javascript">

        const closeForm = () => {
            playlistForm.classList.add('display-none')
        }

        let SELECTED_SONG;
        // const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value
        const playlistForm = document.querySelector('.playlist-add')
        // playlistForm.style.display = 'none';


        // show list of playlist to add to after clicking add to playlist button
        const addToPlaylistBtns = document.querySelectorAll('.playlist-this')
        addToPlaylistBtns.forEach((playlistBtn) => {
            playlistBtn.addEventListener('click', () => {
                playlistForm.classList.remove('display-none')
                SELECTED_SONG = playlistBtn.parentElement.dataset.trackId
            })
        })
        
        // close the dialog showing a list of playlist.
        const closeListPlaylistsBtn = document.querySelector('.close-btn')
        closeListPlaylistsBtn.addEventListener('click', closeForm)
        playlistForm.addEventListener('click', closeForm)

        // add a song to playlist after choosing the playlist
        const playlistElems = document.querySelectorAll('.add-to-playlist p')
        playlistElems.forEach((pl) => {
            pl.addEventListener('click', () => {
                const playlistId = pl.dataset.playlistId
                fetch('/playlist/'+playlistId , {
                    method: 'POST',
                    body: JSON.stringify({track_id: SELECTED_SONG}),
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                }).then(resp => resp.json())
                    .then(data => console.log(data))
                        .catch(err => console.log(err))
            })
        })

        // toggle heart state and store track in favourites
        const heartAnchors = document.querySelectorAll('.heart')
        heartAnchors.forEach((heartAnchor) => {
            heartAnchor.addEventListener('click', () => {
                let method = 'POST'
                if (toggleClass(heartAnchor, 'ri-heart-3-fill', 'ri-heart-3-line') === 'ri-heart-3-line') {
                    method = 'DELETE'
                }
                fetch('favourites/', {
                    method: method,
                    body: JSON.stringify({
                        track_id: heartAnchor.parentElement.dataset.trackId
                    }),
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                }).then(resp => resp.json())
                    .then(data => console.log(data))
                        .catch(err => console.log(err))
            })
        })

        // play this track
        const playBtns = document.querySelectorAll('.play-this')
        playBtns.forEach((playBtn) => {
            playBtn.addEventListener('click', () => {
                const trackId = parseInt(playBtn.parentElement.parentElement.dataset.trackId, 10)
                window.parent.postMessage({
                    type: 'playTrack',
                    track: {id: trackId}
                }, 'http://127.0.0.1:8000')
            })
        })

        // play all songs in the playlist
        const playAll = document.querySelector('.play-playlist')
        playAll.addEventListener('click', () => {
            const trackIds = Array.from(document.querySelectorAll('[data-track-id]'))
                                    .map((t) => t.dataset.trackId)
            const tracks = [];
            trackIds.forEach((id) => {
                tracks.push({'id': id})
            })
            window.parent.postMessage({
                type: 'queueTracks',
                tracks: tracks,
            }, 'http://127.0.0.1:8000')
        })

    </script>
{% endblock bottom_js %}