{% extends 'user/base.html' %}
{% load static %}

{% block title %}
    Home - Wave
{% endblock title %}

{% block external_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/APlayer.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
{% endblock external_css %}

{% block top_js %}
    <script src="{% static 'user/js/APlayer.min.js' %}"></script>
    <script type="module" src="{% static 'user/js/player.js' %}"></script>
{% endblock top_js %}

{% block iframe %}
    <iframe src="{% url 'user:browse' %}"></iframe>
{% endblock iframe %}
