:root {
    --card-height: 20rem;
    --primary-color: #121212;
    --secondary-color: #000000;
    --theme-color: #8A53B9;
    --primary-text-color: #ffffff;
    --muted-text-color: #8E8E8E;
    --btn-text-color: #ffffff;
    --btn-bg-color: #00000000;
    --hover-text-color: #FFFFFF;
    --hover-bg-color: #ffffff1a;
    --player-primary-color: #181818;
    --player-secondary-color: #535353;
}

html {
  box-sizing: border-box;
  /*font-size: calc();*/
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

header {
    height: 50%;
}

.header-img {
    max-width: 200px;
}

.playlist-info {
    display: flex;

}

#track-num {
    justify-self: flex-end;
}

.tracks li, .header-row {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 6fr 5fr 1fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    padding: 0.3rem 0;
    align-items: center;
}

/*center the first column*/
.tracks li .index, .hidden {
    justify-self: center;
}

.tracks li:hover {background-color: var(--hover-bg-color);}
.tracks li:hover .index span {display: none;}
.tracks li:hover .hover {display: initial;}
.tracks li:hover .hidden {visibility: visible;}

.btn {cursor: pointer;}
.play-this {font-size: 230%;}

.tracks img {
    width: 50px;
}

.tracks div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.track-artist div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.heart {
    cursor: pointer;
}

.playlist-add {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-add form {
    
}

.add-to-playlist {
    position: relative;
    padding: 2rem 0;
    width: clamp(200px, 30%, 40%);
    flex-direction: column;
    height: 50%;
    background-color: var(--player-primary-color);
    border-radius: 0.5rem;
    overflow: auto;
}

.add-to-playlist p {
    margin: 0;
    padding: 1rem;
}

.add-to-playlist > *:hover {
    background-color: var(--hover-bg-color);
}
.add-to-playlist .close-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    font-size: 150%;
    border-radius: 50%;
}

.hover, .display-none {display: none;}
.hover:hover {
    background-color: var(--secondary-color);
    border-radius: 50%;
}
.hidden {
    visibility: hidden;
    padding: 0.3rem;
}
.hidden:hover {
    background-color: var(--secondary-color);
    border-radius: 50%;
}
