:root {
    --card-height: 20rem;
    --primary-color: #121212;
    --secondary-color: #000000;
    --theme-color: #8A53B9;
    --primary-text-color: #ffffff;
    --muted-text-color: #8E8E8E;
    --btn-text-color: #ffffff;
    --btn-bg-color: #00000000;
    --hover-text-color: #FFFFFF;
    --hover-bg-color: #ffffff1a;
    --player-primary-color: #181818;
    --player-secondary-color: #535353;
}

html {
  box-sizing: border-box;
  /*font-size: calc();*/
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

body {
    margin: 0 auto;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas:
        "maincontent"
        "player";
}

.iframe-browse {
    height: 100%;
    grid-area: maincontent;
}

.music-controller {
    grid-area: player;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


/* this class is added through JS by the music player*/
.aplayer {
    background-color: var(--player-primary-color);
    border-top: 1px solid var(--player-secondary-color);
}

.aplayer .aplayer-info .controls-btns {
    position: absolute;
    left: 45%;
    top: 5px;
    display: flex;
    justify-content: center;
    grid-area: controls-buttons;
}

.controls-btns button {
    background-color: #00000000;
    color: white;
    border-width: 0;
    margin-left: 1rem;
    border-radius: 50%;
    padding: 1px;
    font-size: 220%;
}

.controls-btns .prev-track, .controls-btns .next-track {
    font-size: 100%;
}

.controls-btns button:focus {
    outline: 0;
}

.controls-btns button:hover {
    /*background-color: var(--secondary-color);*/
    transform: scale(1.1);
    cursor: pointer;
}

.aplayer .aplayer-music {
    display: flex;
    width: 35%;
}




.main-grid {
    display: grid;
    grid-template-columns: auto 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar content"
    /*grid-gap: 1rem;*/
}

aside {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

aside .logo {
    display: flex;
    align-items: center;
}

aside .logo img {
    width: 64px;
    height: 64px;
}

.content {
    padding: 0 1rem;
    padding-right: 0;
    height: 100vh;
    /*overflow-y: scroll;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

header.sticky-nav {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgba(10, 10, 10, 0.3);
    align-items: center;
    gap: 0.2rem;
}

header.sticky-nav .tabs * {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: var(--hover-bg-color);
    border-radius: 0.2rem;
    font-weight: bold;
}

.account-dropdown {
    display: flex;
    gap: 0.3rem;
    max-width: 15%;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    padding: 0.2rem;
    align-items: center;
}

.account-dropdown .username {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.account-dropdown img.user-profile-pic {
    width: 30px;
}



/*
.music-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.controls {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "buttons"
        "seekbar"
}

.music-controller .info {
    flex: 2;
}

.music-controller .controller {
    flex: 4;
}

.music-controller .options {
    flex: 1;
}

.controls .controls-btns {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    gap: 1rem;
}

.controls .controls-bar {
    grid-area: seekbar;
    text-align: center;
}

.controls-bar .progress-bar {
    width: 90%;
    height: 0.6rem;
}*/

.browse .summary-cards {
    display: grid;
    column-gap: 20px;
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    overflow-y: hidden;
    justify-items: center;
    align-items: flex-end;
}

.my-card {
    width: 100%;
    /*max-width: 200px;*/
    /*background-color: #b3b3b3;*/
    padding: 0.7rem;
}

.my-card a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.my-card .cover {
    margin-bottom: 1rem;
}

.my-card img {
    width: 100%;
    object-fit: cover;
}

.card-info > * {
    margin: 0.55rem auto;
    overflow: hidden;
}

.card-info > .title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-info div {
    height: 50px;
    line-height: 1.1rem;
}

.card-info .title {
    margin: 0 auto;
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .browse .summary-cards {
        /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        column-gap: 10px;
    }

    .my-card {
        width: 120px;
        padding: 0;
    }
     aside {
        display: initial;
     }
}

@media screen and (max-width: 600px) {
    header.sticky-nav {
        display: none;
    }

    .browse .summary-cards {
        /*grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        column-gap: 3px;
    }

    .my-card {
        width: 80px;
        padding: 0;
    }
    
    aside {
        display: none;
    }

    .aplayer .aplayer-info .controls-btns {
        right: 0;
    }
}

