:root {
    --card-height: 20rem;
    --primary-color: #121212;
    --secondary-color: #000000;
    --theme-color: #8A53B9;
    --primary-text-color: #ffffff;
    --muted-text-color: #8E8E8E;
    --btn-text-color: #ffffff;
    --btn-bg-color: #00000000;
    --hover-text-color: #FFFFFF;
    --hover-bg-color: #ffffff1a;
    --player-primary-color: #181818;
    --player-secondary-color: #535353;
}

html {
  box-sizing: border-box;
  /*font-size: calc();*/
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

body {
    margin: 0 auto;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas:
        "maincontent"
        "player";
}

aside {
    /*padding: 0 0.5rem;*/
}

.sidebar-links > div, .playlists > * {
    display: flex;
    align-items: center;
    margin: 0.3rem auto;
}

.iframe-browse {
    height: 100%;
    grid-area: maincontent;
}

.music-controller {
    grid-area: player;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* this class is added through JS by the music player*/
.aplayer {
    background-color: var(--player-primary-color);
    border-top: 1px solid var(--player-secondary-color);
}

.aplayer .aplayer-info .controls-btns {
    position: absolute;
    left: 45%;
    top: 5px;
    display: flex;
    justify-content: center;
    grid-area: controls-buttons;
}

.controls-btns button {
    background-color: #00000000;
    color: white;
    border-width: 0;
    margin-left: 1rem;
    border-radius: 50%;
    padding: 1px;
    font-size: 220%;
}

.controls-btns .prev-track, .controls-btns .next-track {
    font-size: 100%;
}

.controls-btns button:focus {
    outline: 0;
}

.controls-btns button:hover {
    /*background-color: var(--secondary-color);*/
    transform: scale(1.1);
    cursor: pointer;
}

.aplayer .aplayer-music {
    display: flex;
    width: 35%;
}

.main-grid {
    display: grid;
    grid-template-columns: auto 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar content"
    /*grid-gap: 1rem;*/
}

aside {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo img {
    width: 50px;
    height: 50px;
}

#app-name {
    font-family: 'ronet-Regular';
    font-size: 2.2rem;
}

.content {
    padding: 0 0.5rem;
    padding-right: 0;
    height: 100vh;
    /*overflow-y: scroll;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 5px;
    align-items: center;
    gap: 0.2rem;
}

.sticky-nav .tabs * {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: var(--hover-bg-color);
    border-radius: 0.2rem;
    font-weight: bold;
}

.account-dropdown {
    display: flex;
    gap: 0.3rem;
    max-width: 150px;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    padding: 0.2rem;
    align-items: center;
    position: relative;
}

.account-dropdown .username {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.account-dropdown img.user-profile-pic {
    width: 30px;
}

.account {
    position: absolute;
    top: 2rem;
    right: 5px;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: none;
}

.flip {
    transform: rotate(180deg);
}

.unflip {
    transform: rotate(0deg);
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    aside {
        display: initial;
     }
}

@media screen and (max-width: 600px) {    
    aside {
        display: none;
    }

    .aplayer .aplayer-info .controls-btns {
        right: 0;
        
    }
}

@media screen and (max-width: 400px) {
    .sticky-nav .tabs {
        /*display: none;*/
        visibility: hidden;
    }
}

