{% extends 'account/base.html' %}
{% load static %}

{% block title %}
    Account - Wave
{% endblock title %}

{% block content %}
    <div class="main">
        <section class="center">
            <form action="" method="POST" novalidate>
                {% csrf_token %}                
                <div class="text-center starting-info">
                    <h2>Update Account</h2>
                </div>
                <ul>
                    <li>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <small>{{ form.email.errors }}</small>
                    </li>
                    <li>
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <small>{{ form.username.errors }}</small>
                    </li>
                    <li>
                        {{ form.password.label_tag }}
                            <div class="password">
                                <input type="password" name="password" value="*****" disabled id="id_password">
                                {% comment %}<i class="toggle-pswd ri-eye-line"></i>{% endcomment %}
                            </div>
                            <li class="submit-btn">
                                <a href="#">
                                    <input type="" value="Change password" readonly 
                                            style="text-align: center; cursor: pointer;">
                                </a>
                            </li>
                        <small>{{ form.password.errors }}</small>
                    </li>
                    <li>
                        <div class="group-col">
                            <div>
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }} 
                                <small>{{ form.first_name.errors }}</small>
                            </div>
                            <div>
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }} 
                                <small>{{ form.last_name.errors }}</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            {{ form.country.label_tag }}
                            {{ form.country }} 
                            <small>{{ form.country.errors }}</small>
                        </div>
                    </li>
                    <li>
                        <div class="group-col">
                            <div>
                                {{ form.gender.label_tag }}
                                {{ form.gender }} 
                                <small>{{ form.gender.errors }}</small>
                            </div>
                            <div>
                                {{ form.age.label_tag }}
                                {{ form.age }} 
                                <small>{{ form.age.errors }}</small>
                            </div>
                        </div>
                    </li>
                    {% comment %}django login auth view wont show idnividual errors{% endcomment %}
                    <div>{{ form.non_field_errors }}</div>
                    <li class="submit-btn">
                        <input type="submit" value="Update">
                    </li>
                </ul>
            </form>
            <div class="half-side-image">
                <img src="{% static 'account/imgs/listening.jpg' %}">
            </div>
        </section>
    </div>
{% endblock content %}
