{% extends 'account/base.html' %}
{% load static %}

{% block title %}
    Login - Wave
{% endblock title %}

{% block inline_css %}
    <style >
        
    </style>
{% endblock inline_css %}

{% block content %}
    <div class="main">
        <section class="center">     
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="text-center starting-info">
                    <h2>Login</h2>
                    <p>
                        Not Registered Yet? <a href="{% url 'account:signup' %}">Sign Up</a>
                    </p>
                </div>
                <ul>
                    <li>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <small>{{ form.email.errors }}</small>
                    </li>
                    <li>
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <small>{{ form.username.errors }}</small>
                    </li>
                    <li>
                        {{ form.password.label_tag }}
                            <div class="password">
                                {{ form.password }}
                                <i class="toggle-pswd ri-eye-line"></i>
                            </div>
                        <div>
                        <small>{{ form.password.errors }}</small>
                    </li>
                    
                    <li id="chkbox">
                        {{ form.remember_me.label_tag }}
                        {{ form.remember_me }}
                        <small>{{ form.remember_me.errors }}</small>
                    </li>
                    <li class="submit-btn">
                        <input type="submit" value="Login">
                    </li>
                </ul>
            </form>
            <div class="half-side-image">
                <img src="{% static 'account/imgs/3.jpg' %}">
            </div>
        </section>
    </div>
{% endblock content %}
