{% extends 'account/base.html' %}
{% load static %}

{% block title %}
    Password Chnaged - Wave
{% endblock title %}


{% block inline_css %}
    <style type="text/css">
        img  {
            width: 100%;
        }
        .text-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 3rem;
            background-color: #e1e3f78f;
        }
        a {
            text-decoration: none !important;
            color: black !important;
            font-size: 120%;
        }

        a:hover {
            text-decoration: underline !important;
        }

    </style>
{% endblock inline_css %}

{% block content %}
    <div class="main">
        <img src="{% static 'account/imgs/2.jpg' %}">
        <div class="text-box">
            <h2>Password Changed Successfully.</h2>
            {% comment %}<h4>You have been logged out.</h4>{% endcomment %}
            <p>
                Go to
                <span>
                    <a href="{% url 'account:update' user.id %}">Account</a>
                    
                </span>
                page.
            </p>
        </div>
    </div>
{% endblock content %}
