{% extends 'account/base.html' %}
{% load static %}

{% block title %}
    Change Password - Wave
{% endblock title %}


{% block content %}
    <div class="main">
        <section class="center">     
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                
                <div class="text-center starting-info">
                    <h2>Change Password</h2>
                </div>
                {{ form.as_p }}
                {% comment %}django login auth view wont show idnividual errors{% endcomment %}
                <div>{{ form.non_field_errors }}</div>
                    
                <p class="submit-btn">
                    <input type="submit" value="Update">
                </p>
            </form>
            <div class="half-side-image">
                <img src="{% static 'account/imgs/4.jpg' %}">
            </div>
        </section>
    </div>
{% endblock content %}
