{% extends 'account/base.html' %}
{% load static %}

{% block title %}
    Signup - Wave
{% endblock title %}

{% block inline_css %}
    <style >
        
    </style>
{% endblock inline_css %}

{% block content %}
    <div class="main">
        <section class="center">     
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                
                <div class="text-center starting-info">
                    <h2>Hello! Signup</h2>
                    <p>
                        Have an account? <a href="{% url 'account:login' %}">Log in</a>
                    </p>
                </div>
                <ul>
                    <li>
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <small>{{ form.email.errors }}</small>
                    </li>
                    <li>
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <small>{{ form.username.errors }}</small>
                    </li>
                    <li>
                        {{ form.password.label_tag }}
                            <div class="password">
                                {{ form.password }}
                                <i class="toggle-pswd ri-eye-line"></i>
                            </div>
                        <div>
                        <small>{{ form.password.errors }}</small>
                    </li>
                    <li>
                        <div class="group-col">
                            <div>
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }} 
                                <small>{{ form.first_name.errors }}</small>
                            </div>
                            <div>
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }} 
                                <small>{{ form.last_name.errors }}</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            {{ form.country.label_tag }}
                            {{ form.country }} 
                            <small>{{ form.country.errors }}</small>
                        </div>
                    </li>
                    <li>
                        <div class="group-col">
                            <div>
                                {{ form.gender.label_tag }}
                                {{ form.gender }} 
                                <small>{{ form.gender.errors }}</small>
                            </div>
                            <div>
                                {{ form.age.label_tag }}
                                {{ form.age }} 
                                <small>{{ form.age.errors }}</small>
                            </div>
                        </div>
                    </li>
                    <li id="chkbox">
                        {{ form.accept_t_and_c.label_tag }}Accept <a href="#">terms and conditions</a>
                        {{ form.accept_t_and_c }}
                        <small>{{ form.accept_t_and_c.errors }}</small>
                            
                    </li>
                    <li class="submit-btn">
                        <input type="submit" value="Register">
                    </li>
                </ul>
            </form>
            <div class="half-side-image">
                <img src="{% static 'account/imgs/4.jpg' %}">
            </div>
        </section>
    </div>
{% endblock content %}
