.playlist-info {
    background-image: url("/static/user/imgs/3.jfif");
    background-size: cover;
    flex-direction: column;
    justify-items: flex-end;
    flex-wrap: wrap;
    flex: 1;
    align-content: flex-start;
    padding: 0.5rem;
}

.playlist-name {
    margin: 4.3rem 0 0 0;
}

.artist-card .my-card {
    background-color: var(--player-primary-color);
}

.artist-card .my-card:hover {
    background-color: rgb(37, 36, 39);
}

.artist-card .my-card:hover img {
    filter: none;
} 