:root {
    --card-height: 20rem;
    --primary-color: #121212;
    --secondary-color: #000000;
    --theme-color: #8A53B9;
    --primary-text-color: #ffffff;
    --muted-text-color: #8E8E8E;
    --btn-text-color: #ffffff;
    --btn-bg-color: #00000000;
    --hover-text-color: #FFFFFF;
    --hover-bg-color: #ffffff1a;
    --player-primary-color: #181818;
    --player-secondary-color: #535353;
}

html {
  box-sizing: border-box;
  /*font-size: calc();*/
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}


/*.playlist-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 
    grid-template-areas: 
        "info"
        "tracks"
}*/



header {
    height: 50%;
}

.header-img {
    max-width: 200px;
}

.playlist-info {
    display: flex;

}

/*.header-row {
    display: grid;
    grid-template-columns: 1fr 7fr 6fr 5fr 4fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}
*/
#track-num {
    justify-self: flex-end;
}

.tracks li, .header-row {
    display: grid;
    grid-template-columns: 1fr 7fr 6fr 5fr 1fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    padding: 0.3rem 0;
    align-items: center;
}

/*center the first column*/
.tracks li > span:first-child {
    justify-self: center;
    /*align-self: center;*/
}

.tracks li:hover {
    background-color: var(--hover-bg-color);
}

.tracks img {
    width: 50px;
}

.tracks div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

}

.tracks div div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}